node_modules/
dist/
build/
.env
*.log
.DS_Store

# Java / Maven
target/
*.class
*.jar
*.war
*.zip
*.tar.gz

# IDE
.idea/
*.iml
.vscode/

# H2 Database
mellita-backend/data/

# Credentials
mellita-backend/src/main/resources/credentials.json

# Uploads
mellita-backend/uploads/

# Angular
mellita-frontend/.angular/
mellita-frontend/node_modules/
